<hr>

{% if page.collection == 'posts' %}
  {% assign comment_key = page.date | date: '%Y-%m-%d' | append: '-' | append: page.slug %}
{% else %}
  {% assign comment_key = page.path | remove: 'pages/' | remove: '.md' | replace: '/', '--' | prepend: 'page--' %}
{% endif %}
{% assign all_comments = site.data.comments[comment_key] %}
{% if all_comments %}
  {% assign all_comments = all_comments | where_exp: "item", "item._id" %}
{% endif %}
{% if all_comments %}
  {% assign comments = all_comments | where_exp: "item", "item.replying_to_uid == ''" %}
  {% assign comments_by_date = comments | sort: 'date' | reverse %}

  <h2>评论 ({{ all_comments.size }})</h2>

  {% for comment in comments_by_date %}
    {%- assign name            = comment.name %}
    {%- assign url             = comment.url %}
    {%- assign date            = comment.date %}
    {%- assign message         = comment.message %}
    {%- assign uid             = comment._id %}
    {% include comment.html comments=all_comments is_reply=false uid=uid replying_to=0 name=name url=url date=date message=message uid=uid %}
  {% endfor %}
{% else %}
  <h2>评论 (0)</h2>
  <p>
    这里是评论区，不是无人区。
  </p>
  <hr>
{% endif %}

<script type="text/javascript">
  var dates = document.getElementsByClassName("utc-date");
  for (let i = 0; i < dates.length; i++) {
    dates[i].innerHTML = new Date(parseInt(dates[i].innerHTML)*1000);
  }
</script>
