<h2 id="comment-h2">添加评论</h2>

<p>注意：评论提交后会在新窗口跳转到GitHub，需要登录后在GitHub创建评论。提交后三到五分钟后会发表在页面上。</p>
<p>你知道吗，以前这个网站是可以直接提交评论的。但是现在那个服务收费了，我又不想交钱，于是只好出此下策。</p>

{% if page.collection == 'posts' %}
  {% assign comment_key = page.date | date: '%Y-%m-%d' | append: '-' | append: page.slug %}
{% else %}
  {% assign comment_key = page.path | remove: 'pages/' | remove: '.md' | replace: '/', '--' | prepend: 'page--' %}
{% endif %}
<form id="comment-form" data-issue-url="https://github.com/Syugen/nps/issues/new" data-issue-title="评论：{{ page.title | escape }}">
  <input type="hidden" name="comment-key" value="{{ comment_key }}">
  <input type="hidden" name="reply-to" value="">

  <p>
    <label for="comment-form-name">用户名（必填）</label>
    <input name="name" type="text" id="comment-form-name" placeholder="反正不是Syugen" required>
  </p>

  <p>
    <label for="comment-form-message">内容（必填）</label>
    <textarea name="message" id="comment-form-message" placeholder="博主写的真好！" required rows="6"></textarea>
  </p>

  <p>
    <button class="comment-button" id="comment-form-submit" type="submit">提交到 GitHub</button>
    <button class="comment-button" id="cancel-comment-reply" type="button" hidden>取消回复</button>
  </p>
</form>

<script src="{{ '/assets/main.js' | relative_url }}"></script>
