  {% if post.tags contains "head"%}
<h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    {% if post.total %}
<ul>
    {% endif %}
  {% else %}

    {% if post.head %}
<h3>{{ post.head }}</h3>
<ul>
    {% endif %}

    {% if post.idx %}
<li>{{ post.idx }}. <a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% elsif post.special %}
<li>番外{{ post.special }}：<a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% else %}
<li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endif %}

    {% for title in post.extras %}
<li>{{ title }}</li>
    {% endfor %}

    {% if post.next == nil or post.next.tags contains "head" or post.next.head %}
</ul>
    {% endif %}

  {% endif %}