{% if post.tags contains "head" %}
---
<h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
  {% if post.total %}
<ul class="toc-list">
  {% endif %}
{% else %}

  {% if post.head %}
---
<h3>{{ post.head }}</h3>
<ul class="toc-list">
  {% endif %}

  {% if post.idx %}
<li class="toc-entry">
  {{ post.idx }}. <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  {% elsif post.special %}
<li class="toc-entry">
  番外{{ post.special }}：<a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  {% else %}
<li class="toc-entry">
  <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  {% endif %}

  {% unless post.idx %}
<ul class="toc-extras" style="margin: 0; padding-left: 20px">
  {% endunless %}
  {% for title in post.extras %}
<li>{{ title }}</li>
  {% endfor %}
  {% unless post.idx %}
</ul>
  {% endunless %}

</li>

  {% if post.next == nil or post.next.tags contains "head" or post.next.head %}
</ul>
  {% endif %}

{% endif %}
