$brand-color: rgba(0,128,255,.5);
$brand-color-light: rgba(0,128,255,.5);

.comment-button {
  background: $brand-color;
  height: 30px;
  border: 1px solid rgba(0,0,0,.12);
  width: 100%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: white;
  margin-bottom: 5px;
}

.comment-author {
  font-weight: bold;
  color: black;
}

.comment-is-op {
  color: #267cb9;
  font-size: 14px;
}

.comment-date {
  color: #727272;
  font-size: 14px;
}

.comment-content {
  margin: 0.25em 0;
}

.comment-reply-button {
  appearance: none;
  background: none;
  border: 0;
  color: #267cb9;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.comment-reply-button:hover {
  color: #174f78;
}

.comment {
  border-top: 0px solid $brand-color-light;
  padding: 0px 0px 0px 0px;
  margin-bottom: 1em;
}

.comment.child {
  margin-left: 3em;
}
