---
layout: default
---

<small>{{ page.date | date: "%Y-%m-%d" }}</small>

<h1>{{ page.title }}</h1>
{% if page.sub %}
<h3>——{{ page.sub }}</h3>
{% endif %}

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <p><small>tags: <em>{{ page.tags | join: "</em>, <em>" }}</em></small></p>
{% endif %}

<hr>

{% if page.previous.url %}
  <p class="view">上一篇：
    <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
  </p>
{% endif %}
{% if page.next.url %}
  <p class="view">下一篇：
    <a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
  </p>
{% endif %}

{% include comments.html %}
{% include comment_form.html %}
